// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2019 George Hilliard <thirtythreeforty@gmail.com>
 */

/dts-v1/;
#include "suniv-f1c100s-uboot.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	model = "Tiny SBC using allwinner fc100/200 series";
	compatible = "licheepi,licheepi-nano", "allwinner,suniv-f1c100s",
		     "allwinner,suniv";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

};

&pio {
	led_pins: led_pins {
		pins = "PE6";
		function = "gpio_out";
	};
};

&spi0 {
    pinctrl-names = "default";
    pinctrl-0 = <&spi0_pins_a>;
    status = "okay";

	flash: w25q128@0 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible =  "winbond,w25q128", "jedec,spi-nor";
        reg = <0>;
        spi-max-frequency = <40000000>;
        partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x100000>;
				read-only;
			};

			partition@100000 {
				label = "dtb";
				reg = <0x100000 0x10000>;
				read-only;
			};

			partition@110000 {
				label = "kernel";
				reg = <0x110000 0x4f0000>;
				read-only;
			};

			partition@600000 {
				label = "rootfs";
				reg = <0x600000 0xA00000>;
			};
		};
    };
};


&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins_a>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins_a>;
	status = "okay";
};

&usb_otg {
	status = "okay";
};

&usbphy {
	status = "okay";
};

&mmc0 {
	status = "okay";
};

&mmc2 {
	status = "okay";
};
