// SPDX-License-Identifier: (GPL-2.0+ OR X11)
/*
 * Copyright 2019 George Hilliard <thirtythreeforty@gmail.com>
 */

/dts-v1/;
#include "suniv-f1c100s-uboot.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

/ {
	model = "Tiny SBC using allwinner FC100/200 series";
	compatible = "licheepi,licheepi-nano", "allwinner,suniv-f1c100s",
		     "allwinner,suniv";

	aliases {
		serial0 = &uart0;
		spi0 = &spi0;
		ethernet0 = &brcmf;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	leds {
		compatible = "gpio-leds";
		// pinctrl-names = "default";
		// pinctrl-0 = <&led_pins>;

		heartbeat {
			label = "Heartbeat";
			gpios = <&pio 4 6 GPIO_ACTIVE_HIGH>;	// PE6
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	wifi_pwrseq: wifi_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pio 4 3 GPIO_ACTIVE_LOW>; /* PE3 */
		post-power-on-delay-ms = <200>;
	};
};

&pio {
	led_pins: led_pins {
		pins = "PE6";
		function = "gpio_out";
	};
};

&spi0 {
    pinctrl-names = "default";
    pinctrl-0 = <&spi0_pins_a>;
    status = "okay";


	flash: en25qh64@0 {
        #address-cells = <1>;
        #size-cells = <1>;
        compatible ="eon,en25qh64", "jedec,spi-nor";
        reg = <0>;
        spi-max-frequency = <50000000>;
        partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x100000>;
				read-only;
			};

			partition@100000 {
				label = "dtb";
				reg = <0x100000 0x10000>;
				read-only;
			};

			partition@110000 {
				label = "kernel";
				reg = <0x110000 0x360000>;
				read-only;
			};

			partition@510000 {
				label = "rootfs";
				reg = <0x470000 0x390000>;
			};
		};
    };
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&reg_vcc3v3>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	//broken-cd;
	status = "okay";

	brcmf: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
		// interrupt-parent = <&pio>;
		// interrupts = <4 5 IRQ_TYPE_LEVEL_LOW>; // PE5
		// interrupt-names = "host-wake";
	};
};

&otg_sram {
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins_a>;
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb0_id_det = <&pio 4 2 GPIO_ACTIVE_HIGH>; /* PE2 */
	status = "okay";
};
